.login-form {
    padding: 15px;
    margin-top: 30px;
    min-width: 300px;
}

.user_icon {
    background-color: var(--bs-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.login-logo {
    width: 45px;
    height: 45px;
}

.hbar {
    margin: 20px 0;
    align-items: center;
}

.hbar > * {
    margin: 0;
}

.competition-attribute {
    display: inline-flex;
    gap: 5px;
    margin: 0 10px 0 0;
    align-items: center;
    color: var(--bs-blue);
    font-weight: 500;
}

.hidden-link {
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.snackbar {
    position: fixed;
    z-index: 999;
    bottom: 15px;
    right: 15px;
    background-color: var(--bs-dark);
    color: white;
    padding: 15px;
    min-width: 250px;
    border-radius: 10px;
    animation: 0.2s snackbar;
}

@keyframes snackbar {
    from {opacity: 0; transform: scale(0.85)}
    to {opacity: 1; transform: scale(1)}
}

@keyframes snackbar-hide {
    from {opacity: 1; transform: scale(1)}
    to {opacity: 0; transform: scale(0.85)}
}

@media screen and (max-width: 500px) {
    .snackbar {
        width: calc(100% - 30px);
    }
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
