

.hbar {
    margin: 20px 0;
    align-items: center;
}

.hbar > * {
    margin: 0;
}

.competition-attribute {
    display: inline-flex;
    gap: 5px;
    margin: 0 10px 0 0;
    align-items: center;
    color: var(--bs-blue);
    font-weight: 500;
}

.hidden-link {
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
